[Unit]
Description=My simple website to monitor other website uptime
Documentation=https://github.com/rizface/uptime-monitoring

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/uptime-monitoring
User=debianroot

[Install]
WantedBy=multi-user.target